/*
img {
    float: left;
}
*/

@font-face {
    /*フォントの名前*/
    font-family: "hiragino";
    /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
    src: url("/fonts/Futura-Med.ttf") format("ttf");
}

* {
    margin: 0;
    padding: 0;
}
section{
    overflow: hidden;
    width: 100vw;
}

header {
    width:100vw;
    height: 100vh;
    position: relative;
    background-position: center center;
    background-size: cover;
}

header nav {
    float: right;
    width: 600px;
    height: 36px;
}

ul {
     overflow: hidden;
    margin: 0 50px;
/*
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 35px;
    margin-top: 30px;
    margin-bottom: 5px;
*/
}

ul li {
    list-style-type: none;
    float: left;
/*    margin-right: 30px;*/
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
} @media (max-width: 450px) {
    nav {
        display: none;
    }
}

nav a {
    display: block;
    text-decoration: none;
    padding: 30px 15px 0;
    color: #fff;
    transition: 0.5s;
    font-family: Futura;
    font-size: 20pt;
    font-weight: 300;
}
/*

nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 20pt;
    transition: 0.5s;
    font-family: Futura;
}

@media (max-width:450px) {
    nav a {
        font-size: 0pt;
    }
}
*/

nav a:hover {
    color: #3D5CDB;
}

.logo {
    position: absolute;
    top:50%;
    left:50%;
}

.logo img {
    width: 900px;
    margin:auto;
}@media (max-width:450px) {
    .logo img {
        width: 70vw;
        margin:auto;
    }
}

.logo h1 {
    margin-top: 30px;
    font-size: 45px;
    font-weight: 100;
    text-align: center;
    color: #fff;
    font-style: italic;
    font-family: Futura;
}@media (max-width:450px) {
    .logo h1 {
        font-size: 100%;
        text-align: center;
        margin-top: 20px;
        color: #fff;
        font-family: Futura;
        font-style: italic;
        font-weight: 100;
    }
}


.Introduction {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    /*縦並び*/
    justify-content: center;
    /*中央よせ*/
    align-content: space-between;
}


h2 {
    text-align: center;
    color: #3D5CDB;
    font-size: 55px;
    font-family: Futura;
    font-weight: 200;
    padding-top: 40px;
}

.rightbox {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 60px;
    margin-bottom: 0px;
    /*    border-style: solid; border-width: 1px;*/
}

.rightbox img {
    float: left;
    width: 500px;
    height: 330px;
}

.leftbox {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 90px;
    height: 330px;
    margin-bottom: 70px;
}

.leftbox img {
    float: left;
    width: 500px;
    height: 330px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    width: 400px;
    height: 250px;
    padding-left: 20px;
}

.content p {
    font-size: 15px;
    font-weight: 100;
    font-family: 'Hiragino Kaku Gothic Pro';
    line-height: 20px;
    margin: 15px auto 20px;
    padding-top: 15px;
    border-width: 3px;
}

.content a {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    background-color: #3D5CDB;
    color: #ffffff;
    font-size: 15pt;
    font-weight: bold;
    border-radius: 12px;
    text-align: center;
    line-height: 40px;
}


#Courses {
    overflow: hidden;
    position: relative;
    height: auto;
}

#particles {
    background-color: rgba(186, 213, 245, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.contents {
    position: relative;
    z-index: 2;
}

#Courses h2 {
    padding-top: 50px;
    padding-bottom: 70px;

}

.Courses {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

.box {
    display: block;
    padding-top: 20px;
    margin-bottom: 30px;
    text-decoration: none;
    width: 240px;
    height: 320px;
    border-radius: 12px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 15pt;
    font-weight: bold;
}

.box:last-child {
    margin-bottom: 60px;
}

.box a {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    background-color: #3D5CDB;
    color: #ffffff;
    font-size: 11pt;
    font-weight: bold;
    border-radius: 12px;
    text-align: center;
    line-height: 40px;
}

#HTML #coursebutton {
    background-color: #F16529;
}

#CSS #coursebutton {
    background-color: #2AA9DF;
}

#Unity #coursebutton {
    background-color: #333333;
}

#Ruby #coursebutton {
    background-color: #FF5252;
}

#JavaScript #coursebutton {
    background-color: #FFD700;
}

#Swift #coursebutton {
    background-color: #FF7635;
}

#Go #coursebutton {
    background-color: #73CFDD;
}

.slider {
    width: 840px;
    height: 140px;
    margin: 0 auto;
    border: none;
}

.slick-prev:before,
.slick-next:before {
    color: #000;
}

.slider div img {
    width: 210px;
    height: 140px;
}

iframe {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 55px;
}

footer {
    height: 140px;
}

footer h4 {
    margin-top: 60px;
    font-size: 16px;
    color: #3D5CDB;
    text-align: center;
}

.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
